.footer{
    position: relative;
    height: 325px;
    background: #555;
}
.footer .inner{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 50px;
}
.footer .footer-news{
    float: left;
    margin-right: 20px;
}
.footer .footer-news h6{
    margin-bottom: 32px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
}
.footer .footer-news ul li{
    color: #fff;
    margin-bottom: 4px;
    width: 265px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    vertical-align: middle;
}
.footer .footer-news ul li span{
    color: #fff;
    font-size: 21px;
    vertical-align: middle;
}
.footer .footer-pull{
    float: left;
}
.footer .footer-pull h6{
    margin-bottom: 32px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
}
.footer .footer-pull ul li{
    color: #ccc;
    margin-bottom: 4px;
    width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    vertical-align: middle;
}
.footer .footer-pull-more{
    width: 190px;
}
.footer .footer-pull-more ul li{
    width: 75px;
    display: inline-block;
}
.footer .footer-pull li:hover{
    color: #fff;
}
.footer .footer-about{
    float: left;
    width: 255px;
    text-align: center;
    font-size: 12px;
}
.footer .footer-about span{
    width: 190px;
    height: 40px;
    line-height: 40px;
    background:#578bea url(../img/qq.png) no-repeat 21px center;
    text-align: left;
    margin-bottom: 12px;
    text-indent: 45px;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    margin-top: 0;
    font-size: 12px;
    vertical-align: middle;
}
.footer .footer-about span:hover{
    background-color: #769ade;
}
.footer .footer-about p{
    color: #fff;
    margin: 20px;
}
.bottom{
    position: relative;
    line-height: 50px;
    text-align: center;
    background: #393939;
    color: #aaa;
}
.bottom p{
    font-size: 12px;
    margin-right: 80px;
}
.bottom p .box{
    display: inline-block;
    position: relative;
    width: 64px;
    height: 23px;
    vertical-align: middle;
}
.bottom p .box img{
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 30px;
}
