span{
    transition: all 1s linear;
}

/*banner样式*/
.banner{
    width: 100%;
    height:800px;
    position: relative;
    overflow: hidden;
}
.banner ul{
    width: 20000px;
    height: 100%;
    position: relative;
    left:0;
}
.banner ul li{
    height: 100%;
    float: left;
}
.banner .click{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner .click>div{
    width: 50%;
    height: 100%;
    float: left;
}
.banner .click>div>div{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 8;
    border-radius: 50%;
    text-align: center;
    display: none;
    cursor: pointer;
}
.banner .click>div .lt{
    left: 50px;
    background:rgba(0,0,0,.15) url("../img/banner_prev.png") no-repeat center;
}
.banner .click>div .rt{
    right: 50px;
    background: rgba(0,0,0,.15) url("../img/banner_next.png") no-repeat center;
}
.banner .click .left:hover .lt{
    display: block;
}
.banner .click .right:hover .rt{
    display:block;
}
.banner ol{
    position: absolute;
    left: 50%;
    margin-left: -83px;
    bottom: 50px;
    z-index: 998;
}
.banner ol li{
    cursor: pointer;
    width: 50px;
    height: 2px;
    float: left;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}
.banner ol li p{
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 2px;
    background: #fff;
    float: left;
}
.banner ol li p.cli{
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: -webkit-transform 3s linear;
    transition: transform 3s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
/*advantege部分*/
.advantage{
    height: 955px;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    background: #ffffff;
    background: url(../img/tonglan.png) repeat;
    position: relative;
    min-width: 1280px;
    background-size: cover;
}
.advantage>img{
    width: 40%;
    float: left;
    box-sizing: border-box;
    padding-top: 190px;
}
.advantage .advantage_con{
    padding: 117px 0 70px 165px;
    color: #333;
    float: left;
    width: 60%;
    box-sizing: border-box;
}
.advantage .advantage_con h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}
.advantage .advantage_con p{
    font-size: 16px;
    margin-bottom: 60px;
    color: #666;
}
.advantage .advantage_con ul li{
    margin-bottom: 47px;
}
.advantage .advantage_con ul li>div{
    float: left;
}
.advantage .advantage_con ul li>div .pic{
    background: url("../img/advantage_icon.png") no-repeat;
    width: 80px;
    height: 80px;
    display: inline-block;
}
.advantage .advantage_con ul li>div .title{
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    margin-left: 15px;
}
.advantage .advantage_con ul li>div .title .sub-title{
    font-weight: 500;
    color: #333;
    font-size: 17px;
    margin-bottom: 13px;
}
.advantage .advantage_con ul li>div .title .tir-title{
    color: #666;
    font-size: 12px;
    line-height: 18px;
}
.advantage .advantage_con ul span{
    margin-top: 53px;
    border: 1px solid #333333;
    color: #333333;
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    transition: all .5s ease;
    /*position: relative;*/
    /*top: 30px;*/
}
.advantage .advantage_con ul span:hover{
    background: #333;
    color: #fff;
}
.advantage .more{
    width: 150px;
    position: absolute;
    bottom: 40px;
    color: #666;
    font-size: 14px;
    text-align: center;
    left: 50%;
    z-index: 8;
    margin-left: -75px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.advantage .more.close p{
    display: none;
}
.advantage .more.close{
    width: 150px;
    position: absolute;
    bottom: -100px;
    color: #666;
    font-size: 14px;
    text-align: center;
    left: 50%;
    z-index: 8;
    margin-left: -75px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.advantage .more>div{
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 15px auto;
    background: #666;
    color: #f8f8f8;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.advantage .more>div:hover{
    background: #333;
}
.advantage .more.close>div{
    background: #000;
    opacity: .15;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.advantage .more.close>div:hover{
    background: #333;
    opacity: .3;
}
/*展开部分*/
.advantage-box{
    height: 3070px;
    display: none;
    /*overflow: hidden;*/
}
.advantage-box .selection1{
    background: url(../img/advantage1.jpg) no-repeat no-repeat center;
    background-size: cover;
    min-height: 790px;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 130px 0 0 0;
}
.advantage-box .selection1 h1{
    font-size: 32px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}
.advantage-box .selection1 p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.advantage-box .selection1 span{
    position: absolute;
    top: 300px;
    left: 50%;
    z-index: 6;
    margin: 23px 0 0 -85px;
    border: 1px solid #333333;
    color: #333333;
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    transition: all 1s ease;
    text-align: center;
    border-radius: 25px;
}
.advantage-box .selection1 span:hover{
    background: #333;
    color: #fff;
}
.advantage-box .selection1 img{
    position: absolute;
    left: 2%;
    bottom: -335px;
}
.advantage-box .selection2{
    min-height: 760px;
    background: url(../img/section-two.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 143px 0 0 280px;
}
.advantage-box .selection2 h1{
    font-size: 32px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}
.advantage-box .selection2 p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.advantage-box .selection2 span{
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    transition: all 1s ease;
    text-align: center;
    border-radius: 25px;
    color: white;
    background: #578bea;
    margin-top: 50px;
}
.advantage-box .selection2 span:hover{
    background: #769ade;
}
.advantage-box .selection3{
    min-height: 760px;
    background-color: #fff3dc;
    /*background-repeat: no-repeat;*/
    /*background-position: 773px 175px;*/
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 143px 0 0 280px;
}
.advantage-box .selection3 h1{
    font-size: 32px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}
.advantage-box .selection3 p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.advantage-box .selection3 span{
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    transition: all 1s ease;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    color: white;
    background: #333;
    margin-top: 50px;
}
.advantage-box .selection3 span:hover{
    background: #666;
}
.advantage-box .selection3 img:first-of-type{
    position: absolute;
    right: 590px;
    top: 176px;
}
.advantage-box .selection3 img:last-of-type{
    position: absolute;
    right: 0;
    top: -487px;
}
.advantage-box .selection4{
    background: url("../img/section-four.jpg") no-repeat center;
    width: 100%;
    background-size: 100% 100%;
    height: 760px;
    position: relative;
}
.advantage-box .selection4 span{
    width: 200px;
    height: 50px;
    margin: 75px -100px 0 0;
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right:25%;
    bottom: 100px;
    transition: all 1s ease;
}
.advantage-box .selection4 span:hover{
    background: #fff;
    color: #333;
}
/*海量模板*/
.template{
    background: url(../img/template.jpg) fixed no-repeat center top;
    background-size: 100%;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    z-index: 1;
    height: 664px;
}
.template .content{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.template .content h1{
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 32px;
}
.template .content p{
    font-size: 16px;
    margin-bottom: 50px;
}
.template .content span{
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    color: white;
    background: #578bea;
}
/*banner2*/
.banner2{
    background: url("../img/bg.jpg") no-repeat center;
    opacity: 1;
    width: 100%;
    /*height: 800px;*/
    padding: 200px 0;
}
.banner2 .inner{
    position: relative;
}
.banner2 ul li{
    transition: all 1s linear;
}
.banner2 ul li>img{
    width: 100%;
    height: 100%;
}
.banner2 ul{
    width: 100%;
    height: 300px;
}
.banner2 ul .p1,.banner2 ul .p5{
    width: 300px;
    height: 125px;
    position: absolute;
    z-index: 1;
    opacity: .7;
    top: 110px;
}
.banner2 ul .p1{
    left: 0;
}
.banner2 ul .p5{
    left: 900px;
}
.banner2 ul .p2,.banner2 ul .p4{
    width: 400px;
    height: 248px;
    position: absolute;
    z-index: 2;
    opacity: .8;
    top: 37px;
}
.banner2 ul .p2{
    left: 100px;
}
.banner2 ul .p4{
    left: 700px;
}
.banner2 ul .p3{
    width: 500px;
    height: 310px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 350px;
}
.select{
    height: 530px;
    padding-top: 100px;
    background: #f8f8f8;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}
.select h1{
    font-size: 32px;
    font-weight: 500;
    color: #333;
}
.select>span{
    font-size: 16px;
    margin: 60px auto;
    background: #578bea;
    color: #fff;
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    transition: all 1s ease;
}
.select span:hover{
    background: #769ade;
}
.select ul{
    width: 1315px;
    margin: 0 auto;
}
.select ul li{
    width: 241px;
    height: 155px;
    border-radius: 10px;
    border: 1px dashed #dcdcdc;
    background: #fff;
    margin: 0 10px;
    float: left;
}
.select ul li h2{
    margin: 31px 0 18px 0;
    font-family: Impact;
    color: #507ed3;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
.select ul li h2 span{
    line-height: 40px;
    height: 40px;
    font-size: 36px;
    vertical-align: middle;
    transition: all 1s ease;
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /*position: relative;*/
}
.select ul li p{
    font-size: 14px;
    color: #333;
}
.select ul li:hover{
    box-shadow: 5px 5px 5px #ccc ;
    transform:translateY(-5px);
}
/*合作企业部分*/
.company{
    font-size: 0;
    padding: 50px 70px 30px 70px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}
.company img{
    display: inline-block;
    height: 40px;
    margin: 0 21px 20px 21px;
}
.join{
    background: url(../img/section-bg6.jpg) fixed no-repeat center;
    background-size: cover;
    position: relative;
    padding: 130px 0;
    text-align: center;
}
.join h1{
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 500;
    color: #333;
}
.join span{
    margin-top: 25px;
    border: 1px solid #333333;
    color: #333333;
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    transition: all 1s ease;
}
.join span:hover{
    background: #333;
    color: #fff;
}