.banner{
    background: url("../img/recruit_banner_01.jpg") no-repeat center;
    width: 100%;
    height: 867px;
    position: relative;
}
.banner img{
    position: absolute;
    left: 50%;
    margin-left: -37px;
    bottom: -37px;
}
.banner span{
    width: 226px;
    height: 56px;
    border-radius: 5px;
    background: #e74c3c;
    display: block;
    text-align: center;
    line-height: 56px;
    position: absolute;
    left: 50%;
    top: 530px;
    margin-left: -113px;
    color: #fff;
    font-size: 18px;
}
.banner span:hover{
    background: #fd6959;
}
/*主要内容*/
.content_wrap{
    height: 565px;
    border-bottom: 2px solid #e6e7eb;
}
.content_wrap .content{
    width: 910px;
    height: 275px;
    margin: 0 auto;
    padding: 153px 0 137px 0;
}
.content dl{
    width: 248px;
    float: left;
    margin-right: 65px;
}
.content dl dt{
    width: 138px;
    margin: 0 auto;
    position: relative;
}
.content dl dt img {
    width: 31px;
    height: 13px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30px);
}
.content dl dt div{
    width: 72px;
    height: 72px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
}
.content dl dt p{
    margin: 29px 0 18px 0;
    text-align: center;
    font-size: 18px;
    color: #6a6a6a;
}
.content dl dt h2{
    width: 45px;
    border-top: 2px solid #888;
    margin: 0 0 13px 50px;
}
.content dd ul li{
    line-height: 20px;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    color: #a0a0a0;
}
.content dd ul li:before{
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #a0a0a0;
    border-radius: 100%;
    position: absolute;
    left: -15px;
    top: 8px;
}
.content dl dt:hover div{
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    border: 1px solid #e95b4d;
}
@keyframes myfirst{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
.content dl dt:hover p{
    color: #e74c3c;
}
.join_wrap .join{
    height: 505px;
    width: 950px;
    padding: 90px 0 0 0;
    margin: 0 auto;
}
.join_wrap .join h2{
    text-align: center;
    font-size: 36px;
    color: #6a6a6a;
    margin-bottom: 75px;
}
.join .box{
    width: 112px;
    float: left;
    text-align: center;
    margin-right: 97px;
}
.join .box .img1{
    text-align: center;
}
.join .box .text{
    text-align: center;
    margin-top: 45px;
    font-size: 24px;
    color: #7f96a3;
}
.join .box .text:hover{
    transform: rotate(360deg);
    transition: .5s all linear;
}
.agent_wrap{
    height: 865px;
    width: 100%;
    background: url(../img/recruit_list_02.jpg) no-repeat center;
}
.agent{
    width: 1170px;
    height: 605px;
    padding: 105px 0 155px 0;
    margin: 0 auto;
}
.agent h2{
    text-align: center;
    font-size: 36px;
    color: #f4f5f9;
    margin-bottom: 80px;
}
.agent .list-con{
    width: 230px;
    height: 480px;
    margin-right: 5px;
    float: left;
    background: #f4f5f9;
    position: relative;
}
.agent .list-con .title{
    height: 95px;
    background: #999;
    text-align: center;
    padding-top: 25px;
}
.agent .list-con .title p{
    font-size: 16px;
    color: #fff;
    opacity: .7;
}
.agent .list-con .sub-title{
    position: absolute;
    left: 60px;
    top: 65px;
    width: 108px;
    text-align: center;
    height: 108px;
    background: url(../img/recruit_listbg_03.png) no-repeat;
}
.agent .list-con .sub-title b{
    font-size: 18px;
    display: block;
    color: #999;
    margin-top: 37px;
    font-weight: bold;
}
.agent .list-con .sub-title p{
    font-size: 12px;
    color: #999;
    margin-top: 3px;
    font-weight: bold;
}
.agent .list-con .tir-title{
    padding: 95px 35px 0 35px;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.agent .list-con .tir-title p:nth-of-type(1),.agent .list-con .tir-title p:nth-of-type(2),.agent .list-con .tir-title p:nth-of-type(3){
    margin-bottom: 12px;
    line-height: 22px;
}
.agent .list-con .tir-title p:nth-of-type(1):after,.agent .list-con .tir-title p:nth-of-type(2):after,.agent .list-con .tir-title p:nth-of-type(3):after {
    content: "";
    display: block;
    height: 3px;
    width: 3px;
    background: #999;
    border-radius: 100%;
    margin: 12px auto;
}
.agent .list-con:hover .title{
    background: #e74c3c;
}
.agent .list-con:hover .sub-title b,.agent .list-con:hover .sub-title p{
    color: #e74c3c;
    font-weight: bold;
}
/*条件部分*/
.condition_wrap .condition{
    width: 1170px;
    height: 400px;
    margin: 0 auto;
    padding: 150px 0 150px 0;
}
.condition .lt{
    width: 507px;
    float: left;
    margin-right: 75px;
}
.condition .rt{
    float: left;
}
.condition .rt h1{
    font-size: 36px;
    color: #6a6a6a;
    text-indent: 30px;
    margin-bottom: 43px;
    position: relative;
}
.condition .rt h1:before{
    content: "";
    width: 6px;
    height: 35px;
    background: #e74c3c;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 9px;
}
.condition .rt ul{
    margin-bottom: 50px;
}
.condition .rt ul li{
    line-height: 28px;
    font-size: 14px;
    color: #999;
}
.condition ul li span{
    margin-right: 17px;
}
.condition .rt>span{
    width: 225px;
    display: block;
    height: 56px;
    background: #e74c3c;
    text-align: center;
    line-height: 56px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
}
.condition .rt span:hover{
    background: #fd6959;
}
/*销售部分*/
.sale_wrap{
    height: 768px;
    width: 100%;
    background: #000;
}
.sale_wrap .lt{
    background: #202020;
    width: 50%;
    float: left;
    position: relative;
    box-sizing: border-box !important;
    height: 768px;
}
.sale_wrap .lt .lt-con{

    width: 500px;
    height: 578px;
    float: right;
    padding: 104px 69px 0 38px;
    margin-bottom: 39px;
}
.sale_wrap .lt .lt-con h1{
    display: none;
    font-size: 36px;
    text-align: right;
    color: #f4f5f9;
    margin-right: 27px;
    margin-bottom: 70px;
    opacity: .8;
    position: relative;
}
.sale_wrap .lt .lt-con h1 span{
    width: 6px;
    height: 35px;
    position: absolute;
    top: 0;
    background: #e74c3c;
    display: inline-block;
    margin-left: 20px;
}
.sale_wrap .lt .lt-con div{
    display: none;
    margin-bottom: 39px;
}
.sale_wrap .lt .lt-con div h2{
    font-size: 18px;
    color: #e74c3c;
    text-align: right;
    margin-bottom: 5px;
}
.sale_wrap .lt .lt-con div p{
    line-height: 28px;
    text-align: right;
    font-size: 14px;
    color: #999;
}
.sale_wrap .lt .lt-con img{
    position: absolute;
    right: -36px;
    display: block;
}
.sale_wrap .rt{
    width: 50%;
    float: right;
    height: 768px;
    background: url(../img/recruit_scale_03.jpg) no-repeat;
    background-size: 100% 100%;
}
/*实力部分*/
.strength_wrap{
    height: 1045px;
    width: 100%;
    background: #f4f5f9;
}
.strength_wrap .strength{
    width: 1170px;
    height: 953px;
    margin: 0 auto;
    padding-top: 92px;
    position: relative;
}
.strength_wrap .strength>h2,.apply_wrap .apply>h2{
    text-align: center;
    font-size: 36px;
    color: #6a6a6a;
    margin-bottom: 30px;
    font-weight: normal;
}
.strength_wrap .strength>p,.apply_wrap .apply>p{
    width: 195px;
    position: relative;
    height: 5px;
    margin: 0 auto 57px;
}
.strength_wrap .strength>p span,.apply_wrap .apply>p span{
    display: inline-block;
    width: 73px;
    border: 1px solid #999999;
}
.strength_wrap .strength>p b,.apply_wrap .apply>p b{
    display: inline-block;
    margin: 0 15px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #e74c3c;
    position: absolute;
    left: 78px;
    top: 8px;
}
.strength_wrap .strength .bg{
    height: 720px;
    width: 585px;
    background: url(../img/recruit_Power_03.png) no-repeat;
    position: absolute;
    right: 0;
    display: none;
}
.strength .con{
    width: 448px;
    height: 530px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 265px;
    padding: 80px 137px 0 137px;
    text-align: center;
    display: none;
}
.strength .con .con-img{
    width: 128px;
    height: 128px;
    background: url(../img/recruit_PowerLeft_06.png);
    margin: 0 auto 50px;
}
.strength .con h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #6a6a6a;
}
.strength .con b{
    display: block;
    width: 40px;
    margin: 0 auto;
    border: 1px solid #888888;
}
.strength .con .text{
    margin-top: 20px;
}
.strength .con .text p{
    font-size: 14px;
    color: #999999;
    line-height: 24px;
}
/*申请部分*/
.apply_wrap{
    width: 100%;
    height: 1105px;
    background: url(../img/recruit_admin_02.jpg);
}
.apply_wrap .apply{
    width: 1170px;
    height: 860px;
    margin: 0 auto;
    padding: 145px 0 100px 0;
}
.apply_wrap .apply .con{
    width: 1178px;
    height: 740px;
    display: none;
}
.apply_wrap .apply .con .lt{
    width: 310px;
    height: 450px;
    border-radius: 3px;
    background: #fff;
    padding: 88px 80px 100px 88px;
    float: left;
}
.apply_wrap .apply .con .lt h6{
    width: 48px;
    height: 29px;
    background: url(../img/qq_icon_04.png) no-repeat;
    margin-bottom: 20px;
}
.apply_wrap .apply .con .lt h4{
    font-size: 17px;
    color: #999999;
    margin-bottom: 18px;
    font-weight: normal;
}
.apply_wrap .apply .con .lt .qq-btn{
    width: 155px;
    height: 40px;
    background: #e74e3e;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 90px;
}
.apply_wrap .apply .con .lt .qq-btn span{
    display: block;
    width: 100%;
    height: 100%;
}
.apply_wrap .apply .con .lt .qq-btn span i{
    display: inline-block;
    width: 97px;
    height: 27px;
    background-image: url(../img/qq_iconbg_03.png);
    margin-top: 7px;
    cursor: pointer;
}
.apply_wrap .apply .con .lt h3{
    width: 39px;
    height: 20px;
    background: url(../img/tel_icon_03.png) no-repeat;
    margin-bottom: 27px;
}
.apply_wrap .apply .con .lt p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #999;
    margin-bottom: 90px;
}
.apply_wrap .apply .con .lt h2{
    margin: 0;
    padding: 0;
    width: 69px;
    height: 22px;
    background-image: url(../img/email_icon_03.png);
    margin-bottom: 30px;
}

.admin_cont_rt{
    width: 465px;
    height: 570px;
    float: right;
    border-radius: 3px;
    background: #fff;
    padding: 72px 100px 97px 100px;
}
.admin_cont_rt ul li{
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.admin_cont_rt ul li.last{
    min-height: 110px;
}
.admin_cont_rt ul li input{
    display: inline-block;
    font-size: 14px;
    color: #999;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 26px 0 18px 0;
}
.admin_cont_rt span.short_message {
    width: 180px;
}
.admin_cont_rt input#validate {
    width: 225px;
}
.admin_cont_rt span.short_num a {
    width: 70px;
    height: 25px;
    display: none;
    vertical-align: middle;
    background: #e74e3e;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 25px;
}
.admin_cont_rt ul li:nth-child(7) {
    position: relative;
    color: #999999;
    padding: 26px 0 18px 0;
}
.admin_cont_rt ul li:nth-child(7) span{
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
}
.admin_cont_rt ul li:nth-child(7) input[type=radio] + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #d2d3d5;
    position: absolute;
    top:30px;
}
.admin_cont_rt ul li:nth-child(7) input[type=radio] {
    display: none;
}
.admin_cont_rt ul li:nth-child(7) b {
    display: inline-block;
    margin: 0 70px 0 20px;
    font-size: 14px;
}
.admin_cont_rt ul li:nth-child(7) input[type=radio]:checked + label:after {
    background: #e74e3e;
}
.admin_cont_rt ul li:nth-child(7) input[type=radio] + label:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #e7e9ed;
}
.admin_cont_rt .admin_btn{
    width: 157px;
    height: 45px;
    border-radius: 3px;
    background-color: #e74e3e;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    margin-top: 47px;
    cursor: pointer;
}

