.list{
    padding-top: 80px;
}
.list ul{
    padding: 40px 0 40px 70px;
    text-align: left;
}
.list .inner>span{
    /*margin-left: -70px;*/
    position: relative;
    top: 40px;
    font-size: 12px;
    font-weight: bold;
    color: #666;
}
.list ul{
    margin-top: -20px;
}
.list ul li{
    display: inline-block;
    width: 85px;
    line-height: 25px;
    margin: 0 0 7px;
    font-size: 12px;
    color: #333;
    text-align: left;
}
.list ul li span{
    display: inline-block;
    padding: 6px 10px;
    line-height: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.list ul li span.on{
    background: #59c4ff;
    color: #fff;
}
.list ul li:hover span{
    background: #59c4ff;
    color: #fff;
}
.list ul .lis{
    display: none;
}
.list ul .cli{
    display: list-item;
    min-width: 45px;
    margin-right: 25px;
    margin-left: 0;
    color: #59c4ff;
    cursor: pointer;
    text-align: left;
    width: 85px;
    line-height: 25px;
    font-size: 12px;
    float: right;
}
.list ul .cli .up{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.list ul .cli .down{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.list ul .cli .up2{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    background: url(../img/pc-icon.png) no-repeat -96px -131px;
    width: 13px;
    height: 7px;
    margin-left: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.list ul .cli i{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    background: url(../img/pc-icon.png) no-repeat -96px -131px;
    width: 13px;
    height: 7px;
    margin-left: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
/*pic开始*/
.pic ul li{
    float: left;
    width: 355px;
    padding-bottom: 40px;
    margin-right: 52px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-bottom: 15px;
}
.pic ul li:nth-of-type(3n){
    margin-right: 0;
}
.pic ul li img{
    position: relative;
    height: 230px;
    overflow: hidden;
    cursor: pointer;
    /*border: 1px solid #dcdcdc;*/
}
.pic ul li h1{
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    display: inline-block;
    max-width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pic ul li h1 i{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    display: inline-block;
    background: url(../img/pc-icon.png) no-repeat -49px -111px;
    vertical-align: middle;
}
.pic ul li h1 i:hover{
    background-position: -48px -129px;
}
.pic ul li p{
    font-size: 12px;
    line-height: 12px;
    padding-top: 10px;
    color: #333;
    text-align: left;
}
.pic ul li .wrap{
    position: relative;
    width: 355px;
    height: 230px;
    overflow: hidden;
}
.pic ul li>span{
    color: #ff801a;
    font-size: 18px;
    margin-top: -23px;
    float: right;
    text-align: right;
}
.pic ul li .box1{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 357px;
    height: 232px;
    background: rgba(0,0,0,.5);
    z-index: 7;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}
.pic ul li .box1 span{
    background: #59c4ff;
    margin-right: 20px;
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
    margin-top: 89px;
}
.pic ul li .box1 span:first-child{
    margin-left: 90px;
}
.pic ul li .wrap:hover .box1{
    opacity: .9;
}
.pic ul li:hover{
    box-shadow: 3px 3px 3px #ccc;
    transform:translateY(-3px) ;
}
.pic ul li .wrap:hover img{
    transform:scale(1.2);
    transition: .5s all ease-in-out;
}
.pic ul li .box{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 357px;
    height: 232px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    padding: 30px;
    background: #fff;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    z-index: 5;
}
.pic ul li .box .text{
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
    color: #333;
}
.pic ul li .box .text p{
    vertical-align: middle;
    display: inline-block;
}
.pic ul li .box .sub-title{
    text-align: left;
    font-size: 16px;
    color: #333;
}
.pic ul li .box .sub-title p{
    vertical-align: middle;
    display: inline-block;
}
.pic ul li .box h6{
    padding-left: 24px;
    font-size: 12px;
    color: #666;
    line-height: 24px;
}
.pic ul li .box i{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    display: inline-block;
    background: url(../img/pc-icon.png) no-repeat;
    vertical-align: middle;
}
